*{
	padding: 0;
	margin: 0;
}

body{
	background-color: #fcf7f2;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

header{
	margin: 20px 0;
	overflow: hidden;
}

header a, #footer a{
	text-decoration: none;
	display: block;
	float: right;
	margin-right: 20px;
	font-size: 18px;
	color: #544E4E;
	letter-spacing: 2px;
}

#first_container p{
	margin-top: 100px;
	margin-left: 60px;
	letter-spacing: 2px;
	color: #ADAAAA;
}

#info_container{
	position: fixed;
	top: 200px;
	left: 60px;
}

#info_container pre{
	font-size: 28px;
	font-family: Monaco, Consolas, "Lucida Console", monospace;
	margin-bottom: 25px;
}

#second_container{
	position: absolute;
	width: 100%;
	top: 2000px;
	height: 2000px;
}

#second_container pre{
	margin-bottom: 25px;
	margin-left: 76px;
	font-size: 28px;
	font-family: Monaco, Consolas, "Lucida Console", monospace;	
}

#second_container>a{
	display: block;
	margin-left: 40%;
	text-decoration: none;
	font-size: 20px;
	letter-spacing: 2px;
	color: #544E4E;
}

#footer{
	position: absolute;
	bottom: 20px;
	right: 20px;
}

header a:hover, #footer a:hover, #second_container>a:hover{
	color: #BD1010;
}


